/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.reveal-post-data-modal {
	min-width: 90vw;
	min-height: 90vh;

	table {
		width: 100%;
		min-height: 100%;
		background-color: #eee;
		padding: 12px;
		margin-top: 6px;

		th, td {
			text-align: left;
			padding: 6px;
			border-bottom: 1px solid #ddd;
			border-collapse: collapse;
		}

		tr:last-child {
			td {
				border-bottom: none;
			}
		}
	}
}
